{{>partial_header}}
package main

import (
	"log"
	"fmt"
	"embed"
	"html/template"

	sw "github.com/openapi-native-mock-server/{{apiPath}}"
    "github.com/openapi-native-mock-server/validator"
)

//go:embed templates/*
var f embed.FS

func main() {

	fmt.Println("Server starting...");

    if err := validator.InitOpenAPIValidation("openapi/openapi.json"); err != nil {
        log.Fatalf("Error initializing OpenAPI validation: %v", err)
    }

	router := sw.NewRouter()

	templ := template.Must(template.New("").ParseFS(f, "templates/*.html"))
	router.SetHTMLTemplate(templ)

	log.Fatal(router.Run(":{{serverPort}}"))
}
